<h1>餐廳後台</h1>
<div class="d-flex mt-3 align-items-center">
  <a class="p-2" href="/admin/categories">Categories</a>
  <div class="p-1">|</div>
  <a class="p-2" href="/admin/restaurants">Restaurants</a>
  <div class="p-1">|</div>
  <a class="p-2" href="/admin/users">Users</a>
  <a class="ml-auto p-2" href="/admin/restaurants/create">
    <button type="button" class="btn btn-primary">New Restaurant</button>
  </a>
</div>

<br /><br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.Category.name}}</td>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/restaurants/{{this.id}}">
            Show
          </a>
        </button>
        <button type="button" class="btn btn-link">
          <a href="/admin/restaurants/{{this.id}}/edit">
            Edit
          </a>
        </button>
        <button type="submit" class="btn btn-link" data-toggle="modal"
          data-target="#delete-modal-{{this.id}}">Delete</button>
      </td>
    </tr>
    <!-- Modal start-->
    <div class="modal fade" id="delete-modal-{{this.id}}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Warning</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            是否要刪除<span class="modal-info"> {{this.name}} </span>?
            <br>
            刪除後資料將不得復原。
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end-->

    {{/each}}
  </tbody>
</table>