<h1>餐廳後台</h1>
<div class="d-flex mt-3 align-items-center">
  <a class="p-2" href="/admin/restaurants">Restaurants</a>
  <div class="p-1">|</div>
  <a class="p-2" href="/admin/users">Users</a>
</div>

<br /><br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">role</th>
      <th scope="col">change role</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        {{#if this.isAdmin}}admin{{else}}user{{/if}}
      </td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
          <a href="" data-toggle="modal" data-target="#change-modal-{{this.id}}">Set as
            {{#if this.isAdmin}}user{{else}}admin{{/if}}</a>
          <!-- Modal start-->
          <div class="modal fade" id="change-modal-{{this.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Warning</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  是否要將<span class="modal-info"> {{this.name}} </span>設定為{{#if this.isAdmin}} user {{else}} admin
                  {{/if}}?
                  <br>
                </div>

                <div class="modal-footer">
                  <a href="/admin/users" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</a>

                  <button type="submit" class="btn btn-danger">Confirm</button>

                </div>
              </div>
            </div>
          </div>
          <!-- Modal end-->
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script src="/js/main.js"></script>