<div class="row">

  <div class="card col-4" style="width: 18rem;">
    <img class="card-img-top" src="{{object.image}}" alt="Card image cap" style="width: 20rem">
  </div>
  <div class="card col-8">
    <div class="card-header">
      Profile
    </div>
    <div class="card-body">
      <h5 class="card-title">{{object.name}}</h5>
      <p class="card-text">{{object.email}}</p>
      {{#ifCond object.id user.id}}
      <a href="/users/{{../object.id}}/edit" class="btn btn-primary">Edit</a>
      {{/ifCond}}
    </div>
  </div>
  <div class="card col-12 mt-3">
    <div class="card-header">
      {{cnt}} 已評論的餐廳
    </div>
    <div class="card-body">
      {{#each restaurants}}
      <a href="/restaurants/{{this.RestaurantId}}">
        <img class="mr-1" src="{{this.Restaurant.image}}" alt="{{this.Restaurant.name}}" style="height:5rem">
      </a>
      {{/each}}
    </div>
  </div>

</div>